<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

<script src="{{ asset('assets') }}/home/js/jquery-3.2.1.min.js"></script>
<script src="{{ asset('assets') }}/home/js/jquery-migrate-3.0.0.js"></script>
<script src="{{ asset('assets') }}/home/js/popper.min.js"></script>
<script src="{{ asset('assets') }}/home/js/bootstrap.min.js"></script>
<script src="{{ asset('assets') }}/home/js/owl.carousel.min.js"></script>
<script src="{{ asset('assets') }}/home/js/jquery.waypoints.min.js"></script>
<script src="{{ asset('assets') }}/home/js/jquery.stellar.min.js"></script>


<script src="{{ asset('assets') }}/home/js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="01bc6623dc935ebaf632a684-text/javascript"></script>
<script type="01bc6623dc935ebaf632a684-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="01bc6623dc935ebaf632a684-|49" defer=""></script></body>